$base-size: 20;
@function rem($target, $context: $base-size) {
    @return (calc($target / $base-size)) * 1rem;
}

// colors
$white: #FFFFFF;
$black: #000000;
$primary: #FF4715;
$gray-3: #333333;
$gray-e: #E0E0E0;
$gray-c: #c7c7c7;

$imgPath: "../../images";


/////////////////////////////////////////////
$default-behaviour: true; //  true or false

//== font-families
@font-face {
    font-family: 'SemiBold';
    src: url(../../fonts/Inter_18pt-SemiBold.ttf);
}
@font-face {
    font-family: 'ExtraBold';
    src: url(../../fonts/Inter_18pt-ExtraBold.ttf);
}
@font-face {
    font-family: 'Medium';
    src: url(../../fonts/Inter_18pt-Medium.ttf);
}
@font-face {
    font-family: 'Regular';
    src: url(../../fonts/Inter_18pt-Regular.ttf);
}

$fontBold: 'SemiBold', sans-serif;
$fontBdEx: 'ExtraBold', sans-serif;
$fontEx: 'Regular', sans-serif;
$fontRoman: 'Regular', sans-serif;
//
// font family
$font-family-default: $fontRoman;
$font-numbers-default: $fontRoman;
$fonts-map-default: (
);
// font family
$font-family-reverse: $fontRoman;
$font-numbers-reverse: $fontRoman;
$fonts-map-reverse: (
);