<div class="container">
    <div class="header-wrapper">
        <div class="logo-container">
            <a href="index.html" wdata-aos="fade-up" wdata-aos-delay="200">
                <img class="black" src="../assets/images/logo.svg" alt="">
                <img class="white" src="../assets/images/logo-large.svg" alt="">
            </a>
        </div>

        <div class="btns">
            <a href="#" class="contact-link">Let’s Connect</a>
            <button class="btn nav-btn" wdata-aos="fade-up" wdata-aos-delay="500">
                <i></i><i></i>
            </button>
        </div>
    </div>
</div>
