<!-- <div class="menu-sheet" data-aos="slide-left" data-aos-delay="50" data-aos-duration="300"> -->
<div class="menu-sheet" data-aos="fade-in" data-aos-delay="50" data-aos-duration="200">
  <div class="container">
    <div class="menu-header">
      <div class="logo anim-wrap">
        <img data-aos="fade-up" data-aos-delay="50" src="../assets/images/logo-large.svg" alt="">
      </div>
      <div class="btns">
        <div class="anim-wrap">
          <a href="#" data-aos="fade-up" data-aos-delay="200" class="contact-link">Let’s Connect</a>
        </div>
        <button class="btn close">
          <i data-aos="slide-down" data-aos-delay="500" data-aos-duration="300"></i>
          <i data-aos="slide-right" data-aos-delay="800" data-aos-duration="300"></i>
        </button>
      </div>
    </div>

    <div class="menu-container">
      <div class="row">
        <div class="col-md-8">
          <ul class="main-nav">
            <li>
              <a class="active" href="index.html" data-aos="fade-up" data-aos-delay="50">Home</a>
            </li>
            <li>
              <a href="services.html" data-aos="fade-up" data-aos-delay="100">Our Services</a>
            </li>
            <li>
              <a href="index.html" data-aos="fade-up" data-aos-delay="150">About Us</a>
            </li>
            <li>
              <a href="index.html" data-aos="fade-up" data-aos-delay="200">Success Stories</a>
            </li>
            <li>
              <a href="index.html" data-aos="fade-up" data-aos-delay="250">Careers</a>
            </li>
            <li>
              <a href="index.html" data-aos="fade-up" data-aos-delay="300">Contact Us</a>
            </li>
          </ul>

          <ul class="lang">
            <li><a href="#" class="active" data-aos="fade-up" data-aos-delay="350">EN</a></li>
            <li><a href="#" data-aos="fade-up" data-aos-delay="400">AR</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <div class="info-wrapper">
            <div class="info-item">
              <div data-aos="fade-up" data-aos-delay="450">
                <label>(Telephone)</label>
                <a href="tel:011029365444">011029365444</a>
              </div>
            </div>
            <div class="info-item">
              <div data-aos="fade-up" data-aos-delay="500">
                <label>(Email)</label>
                <a href="mailto:work@setcore.com">work@setcore.com</a>
              </div>
            </div>
            <div class="info-item">
              <div data-aos="fade-up" data-aos-delay="550">
                <label>(Address)</label>
                <div>6 Dar El Shifa St.
                  Garden City 11451,
                  Cairo, Egypt</div>
              </div>
            </div>
            <div class="info-item">
              <div data-aos="fade-up" data-aos-delay="600">
                <label>(Social Links)</label>
                <div><a href="#">Instagram</a></div>
                <div><a href="#">Facebook</a></div>
                <div><a href="#">Linkedin</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>